/.idea/
/Numeric Matrix Processor/Addition/
/Numeric Matrix Processor/Determined!/
/Numeric Matrix Processor/Inverse matrix/
/Numeric Matrix Processor/Matrix by matrix multiplication/
/Numeric Matrix Processor/Multiplication by number/
/Numeric Matrix Processor/task/tests.py
/Numeric Matrix Processor/Transpose/
/Numeric Matrix Processor/lesson-info.yaml
/course-info.yaml
/course-remote-info.yaml
/test_helper.py
